#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.5rem;
  width: 20rem;
  text-align: left;
  font-size: 1.5rem;
}